<template>
  <div class="container">
    <div class="header">
        <app-header />
    </div>
    <span class="message">
      {{ message }} <br>
      {{ composedMessage }}
    </span>
    <button v-on:click="increment">+1</button>
    <button v-on:click="decrement">-1</button>
    <div
      class="circle"
      v-bind:class="circleClass">
    </div>
      <div>
        <b-card title="Card Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 20rem;"
                class="mb-2">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card>
      
        <b-card title="Card Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 20rem;"
                class="mb-2">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card>
      </div>
  </div>
</template>

<script>
import appHeader from './appHeader.vue'
export default {
  name: 'HelloWorld',
  data () {
    return {
      message: 'Hello World',
      count: 0
    }
  },
  computed: {
    composedMessage() {
      return 'You have clicked the button ' + this.count + ' time(s).'
    },
    circleClass() {
      return {
        'circle--active':this.count > 2,
        'circle--big':this.count > 5
      }   
    }
  },
  watch: {
    count(newVal, oldVal) {
      console.log('current count', newVal);
    }
  },
  methods: {
    increment() {
      this.count++;
    },
    decrement() {
      this.count--;
    }
    
  },
  components: {
    appHeader
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.message {
  color:burlywood;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 15px;
}
.circle {
  background-color: royalblue;
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: width 1s, height 1s, background-color .5s .5s;
}
.circle--active {
  background-color: red;
  width: 100px;
  height: 100px;
}
.circle--big {
  background-color: red;
  width: 200px;
  height: 200px;
}
</style>
