<template>
    <div class="navbar">

    </div>
    
</template>

<script>
export default {
    name: 'navbar'
}
</script>

<style scoped>
.navbar {
    background-color: royalblue;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
}

</style>
