<template>
  <div id="app">
    <NavBar />
    <div class="main-container">
      <HelloWorld /> <!--nama komponen-->
    </div>
    
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'; //nama komponen, nama file.vue
import NavBar from './components/NavBar'; //nama komponen, nama file.vue

export default {
  name: 'app',
  data () {
    return {
      visible: false
    }
  },
  components: { //nama komponen
    HelloWorld,
    NavBar 
  },
  methods: {

  }
}
</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.main-container {
  padding: 10 10 0;
  position: relative;
  top: 80px;
}
</style>
